#1
{
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: blue;
  font-weight: bold;
}
#2
{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 2em;
  color: green;
}

#3
{
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  color: gray;
}
