#a {
font-family : Arial, sans-serif;
font-size : 1em;
color : blue;
font-weight : bold;
}
#b {
font-family : 'Comic Sans MS', sans-serif;
font-size : 2em;
color : green;
}
#c {
font-family : Arial, sans-serif;
font-size : 1.4em;
color : gray;
}
#new {
  position : relative;
  margin-bottom : 10em;
}
#d {
  width : 40%;
  position : absolute;
  left : 5%;
  top : 0;
  border : 1px solid gray;
  padding : 1em;
}
#e {
  width : 40%;
  position : absolute;
  left : 50%;
  top : 0;
  border : 1px solid gray;
  padding : 1em;
}
#z {
  float : right;
  width : 15%;
}
